bin
lex.yy.c
lex.yy.o
parser.output
parser.tab.c
parser.tab.h
parser.tab.o
*.swp

.DS_Store
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/mzn2omt.iml
.idea/workspace.xml
CMakeLists.txt
OLD/
minizinc-benchmarks-master/
mzn2omt_arch.pdf
src/.DS_Store
src/mzn2omt.sublime-project
src/mzn2omt.sublime-workspace
